* { margin: 0; padding: 0; border: 0 }

legend { display: none }

#apresentacao { 
align: left;
	width: 100%; 
	height: 200px;
	margin: 0% auto;
	overflow: hidden;
	background: #f0f0f0;
	
}
	

h1 { 
	font: 25px 'Open Sans', Arial; 
	text-align: center; 
	color: #555; 
	text-shadow: 2px 2px 0 #ccc; 
	margin-bottom: 20px; 
	letter-spacing: -0.5px
}

.campos {
	width: 740px; 
	margin: 0 auto 15px; 
	overflow: hidden; 
}

.campos label { 
	background: #333; 
	border-radius: 6px 0 0 6px; 
	color: #ffffff; 
	cursor: pointer; 
	display: block; 
	height: 20px; 
	float: left; 
	font: 15px 'Open Sans',Arial;
	padding: 7px 13px;
	width: 70px;
}

.campos input[type="text"] { 
	background: #A9A9A9;
	color: #A9A9A9;
	display: block;
	float: left;
	font: 15px 'Open Sans',Arial; 
	height: 19px;
	padding: 11px;
	width: 475px; 
}
.campos input[type="date"] { 
	background: #FFF;
	color: #666;
	display: block;
	float: left;
	font: 15px 'Open Sans',Arial; 
	height: 19px;
	padding: 11px;
	width: 175px; 
}
.campos input[type="time"] { 
	background: #A9A9A9A;
	color: #A9A9A9A;
	display: block;
	float: left;
	font: 15px 'Open Sans',Arial; 
	height: 15px;
	padding: 11px;
	width: 175px; 
}
.campos select[type="select"] { 
	background: #A9A9A9A;
	color: #A9A9A9A;
	display: block;
	float: left;
	font: 15px 'Open Sans',Arial; 
	height: 19px;
	padding: 11px;
	width: 175px; 
}

.campos input[type="button"] { 
	background: #A9A9A9A; 
	border-radius: 0 6px 6px 0;
    color: #A9A9A9A;
    cursor: pointer;
    height: 34px;
    font: 15px 'Open Sans',Arial;
    padding: 2px 13px 6px;
    width: 150px;

    -webkit-transition: background .2s ease-in;
    -moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    transition: background .2s ease-in;
}

.campos input[type="button"]:hover { background: #12587C }

#mapa { 
align: left;
	width: 100%;
	height: 200px;
	border: 3px solid #ccc;;
	margin-bottom: 20px;
}
#co_br { 
	width: 990px;
	height: 616px;
	border: 3px solid #ccc;;
	margin-bottom: 20px;
}
#google_map2 { 
	width: 990px;
	height: 616px;
	border: 3px solid #ccc;;
	margin-bottom: 20px;
}

input[type="submit"] {
    align: left;
	background: #2679A5; 
	border-radius: 6px;
    color: #FFF;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font: 14px 'Open Sans',Arial;
    padding: 7.5px 15px;
    width: 150px;

    -webkit-transition: background .2s ease-in;
    -moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    transition: background .2s ease-in;
}

input[type="submit"]:hover { background: #12587C }

.autores { background: #ffffff; bottom: 0; border-radius: 5px 5px 0 0; padding: 5px 10px; position: fixed; left: 38%; width: 345px }
.autores p { color: #333; font: 13px Tahoma, Arial }
.autores p a { color: #333;	text-decoration: none }
.autores p a:hover { text-decoration: underline }


/* =============== Estilos do autocomplete =============== */
.ui-autocomplete { 
	background: #fff; 
	border-top: 1px solid #ccc;
	cursor: pointer; 
	font: 15px 'Open Sans',Arial;
	margin-left: 3px;
	width: 493px !important;
	position: fixed;
}

.ui-autocomplete .ui-menu-item { 
	list-style: none outside none;
	padding: 7px 0 9px 10px;
}

.ui-autocomplete .ui-menu-item:hover { background: #eee }

.ui-autocomplete .ui-corner-all { 
	color: #666 !important;
	display: block;
}
/* Style the form - display items horizontally */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}